<div class="header">   
        <div class="sub-head1">
                <div (click) = getBack() class="sub1">
                   <i style="vertical-align: middle;" class="material-icons">navigate_before</i>
                    <span  style="vertical-align: middle;">Back</span>
                </div>
                <div class="sub2">
                    <p style="margin:0;">We are here to help you</p>
                </div>
        </div>
<div class="sub-head2 ">
        <div style="width:100%;text-align:center;">
        <form class="example-form">
                  <input class="form-control" type="text"    (click) ="clicked()" aria-label="Number" >

                  
              </form>
        </div>
        
</div>
</div>

 <div class="content">       
<mat-nav-list  >
    <mat-list-item class="media-height" *ngFor="let qus of questionList;let i = index">
        <i  class="material-icons" (click) = getIndex(i)>navigate_next</i>
        <h3 matLine style="word-wrap: break-word;white-space: pre-wrap;" (click) = getIndex(i) >{{ qus.question }}</h3>
      </mat-list-item>
</mat-nav-list>
</div>